.about-content {
	max-width: 768px;
}

.summary {
	font-size: 2em;
	margin: 0 0 15px 0;
	text-shadow: .5px .5px #ccc;
}

.sub-summary {
	font-size: 1.25em;
	margin: 0;
	line-height: 1.75;
	color: #777;
	text-shadow: .5px .5px #ddd;
}