@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
body {
	margin: 0 auto;
	font-size: 16px;
	font-family: "Rubik", "Helvetica", "Arial", sans-serif;
	background-color: white;
	overflow-x: hidden;
}
a, a:visited, a:focus {
	color: #aaa;
	transition: all .2s ease-in-out;
	text-decoration: none;
}
a:hover {
	color: slategray;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	font-weight: 400;
}
.head {
	font-size: 2.5em;
	text-shadow: 0.5px 0.5px #ccc;
}
.subhead {
	font-size: 2em;
	text-shadow: 0.5px 0.5px #ddd;
}
.card {
	background-color: white;
	transition: box-shadow .1s ease-in-out !important, border-color .1s ease-in-out;
	box-shadow: 0px 1px 2px 1px #ccc;
	padding: 20px;
	border: 1px solid #bbb;
	border-radius: 2px;
}
.card:hover {
	box-shadow: 0px 2px 7px 1px #bbb;
	border-color: #aaa;
}
img {
	max-width: 100%;
	display: block;
}
ul {
	-webkit-padding-start: 0px;
	padding-left: 0px;
}
.section-wrap {
	padding-top: 50px;
	width: 90%;
	margin: 0 auto;
}
.section-heading {
	text-align: center;
	padding-top: 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px #ccc;
	display: none;
}
.header-section {
	background-color: white;
}
.about-section {
	background: repeating-linear-gradient( 360deg, #eee, white );
	padding-top: 0px;
}
.portfolio-section {
	background-color: #eee;
}
.contact-section {
	background: repeating-linear-gradient( 360deg, white, #eee );
	margin-bottom: -2px;
}
footer {
	background-color: white;
	margin-top: 100px;
	padding: 30px;
	font-size: .75em;
	text-align: center;
	transition: color .25s ease-in-out;
	text-shadow: 0.5px 0.5px #ddd;
}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 540px) {
	.section-wrap {
		padding-top: 25px;
	}
	#myCanvas {
		display: none;
	}
}