nav {
	font-weight: 400;
	text-transform: capitalize;
	padding: 10px 0px;

	position: fixed;
	width: 100%;
	background-color: white;
	top: 0;

	box-shadow: 1px 1px 5px #aaa;
}
nav a,
nav a:visited,
nav a:hover,
nav a:focus,
nav a:active {
	color: black;
	text-decoration: none;
	transition: color .25s ease-in-out;
}
nav a:hover {
	color: #aaa;
}
.nav-container {
	display: flex;
	width: 95%;
	max-width: 1090px;
	margin: 0 auto;
}
.nav-section {
	display: flex;
}
.nav-header {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 500;
	vertical-align: text-top;
}
.nav-item {

}
.nav-links {
	width: 100%;
	justify-content: center;
}
.nav-header > a:hover {
	color: #666;
}
.nav-link {
	padding: 10px 20px;
}
.navbar-spacer {
	height: 50px;
}
@media only screen and (max-width: 1048px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 600px) {
	.nav-header {
		display: none;
	}

	.nav-links {
		width: 100%;
		justify-content: space-around;
	}

	.nav-link {
		padding: 15px 20px;
	}
}
@media only screen and (max-width: 414px) {}