.portfolio-content {
	max-width: 768px;
}
.projects {
	margin: 0 auto;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* uncomment for autofill columns */
	/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
	grid-gap: 20px;
}
.code-project {
	background-color: white;
	border-radius: 2px;
	transition: box-shadow .1s ease-in-out;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.specs {
	list-style-type: none;
}
.specs > li {
	margin: 10px 0;
	line-height: 1.35;
}
.technologies {
	font-size: 1.5em;
	color: #777;
}
.project-section {
	margin: 2.5px 0;
}
.project-section-header {}
.project-section-header > h1 {
	text-transform: uppercase;
	font-size: 2em;
}
.project-section-body {
}
.project-section-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.project-link {
	padding: 10px 0;
}
.project-link > a {
	border: 1px solid black;
	border-radius: 2px;
	padding: 10px;
	transition: none;
	margin-right: 5px;
	background-color: white;
}
.source-link > a {
	background-color: white;
	color: black;
}
.demo-link > a {
	border-color: green;
	color: green;
}
.source-link > a:hover {
	background-color: black;
	color: white;
}
.demo-link > a:hover {
	background-color: green;
	color: white;
}
@media only screen and (max-width: 1048px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {	
	.grid {
		grid-template-columns: 1fr;
	}
	.project-section-two > h1 {
		font-size: 3em;
	}
}
@media only screen and (max-width: 700px) {
	/* ... */
}
@media only screen and (max-width: 607px) {
	/* ... */
}
@media only screen and (max-width: 414px) {
}
@media only screen and (max-width: 360px) {
}