nav {
  border-bottom: 1px solid #ddd;
  width: 100%;
  background-color: white;
  a {
    color: $dark;
    font-weight: 600;
    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
}

.nav-container {
  margin: 0 auto;
  max-width: 85%;
}

.nav-links-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  a {
    font-size: 1.25rem;
    padding: 1.5rem 1rem;
    @media (max-width: 540px) {
      padding: 1rem 0.5rem;
    }
  }
}

.nav-brand {
  font-weight: 700;
  font-size: 2rem;
  .nav-brand-image {
    display: none;
  }
  @media (max-width: 540px) {
    .nav-brand-text {
      display: none;
    }
    .nav-brand-image {
      display: inherit;
    }
  }
}