.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5rem;
	@media (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.25rem;
	}
	@media (max-width: 540px) {
		grid-template-columns: 1fr;
	}
}

.project {
	margin-bottom: 1rem;
	.project-title,
	.project-languages {
		margin: 0;
		padding: 0;
		font-weight: 600;
	}
	.project-title {
		font-size: 1.75rem;
	}
	.project-languages {
		font-size: 1.25rem;
		color: lighten($dark, 40%);
	}
	ul {
		list-style-type: none;
		-webkit-padding-start: 0rem;
	}
	li {
		margin: 1rem 0;
	}
	button {
		margin: 0.25rem 0;
	}
}

.project-img {
	width: 100%;
}

.work-portfolio-link {
	margin: 0 0 3rem 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	a:hover {
		border-bottom-color: transparent;
	}
	button {
		padding: 1rem;
		width: 100%;
		font-size: 1.25rem;
		border-width: 2px;
		&:hover {
			text-decoration: underline;
			text-decoration-skip: ink;
		}
	}
	@media (max-width: 540px) {
		margin: 1rem 0;
	}
}