// white, gray, black
$light: #fefefe;
$medium: #999;
$dark: #333;

// colors
$blue-kitandace: #002573;
$blue-donetodeath: #130DB1;
$blue-atlassian: #0747a6;
$blue: $blue-donetodeath;
$lightblue: #74B3CE;
$yellow: #f7d708;
$tan: #FFDBB5;
$ice: #F1FAEE;
$red: #B80C09;
$orange: #FE9000;
$pink: #FF8484;

$papayawhip: papayawhip;
$linen: linen;
$oldlace: oldlace;


// element colors
$text-color: $dark;
$bg-color: $light;
$link-color: $text-color;
$link-hover-color: $blue;

// transition durations
$fast: 150ms;
$normal: 500ms;
$slow: 1000ms;

// easings
$bezier: cubic-bezier(.79,.08,.41,.1);

// fonts
$serif: 'Spectral', serif;