@font-face {
	font-family: 'Space Grotestk';
	src: url('../assets/fonts/SpaceGrotesk-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Space Grotestk';
	src: url('../assets/fonts/SpaceGrotesk-Light.woff') format('woff');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'Space Grotestk';
	src: url('../assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}