@mixin larger-than($breakpoint) {
  @if $breakpoint == "xs" { @media (min-width: $breakpoint-xs + 1) { @content; } }
  @else if $breakpoint == "sm" { @media (min-width: $breakpoint-sm + 1) { @content; } }
  @else if $breakpoint == "md" { @media (min-width: $breakpoint-md + 1) { @content; } }
  @else if $breakpoint == "lg" { @media (min-width: $breakpoint-lg + 1) { @content; } }
  @else if $breakpoint == "xl" { @media (min-width: $breakpoint-xl + 1) { @content; } }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}