body {

	&[data-theme="light"] {

		&:not(.mobile):not(.tablet) .content-nav a[data-active="true"] {
			&::after {
				// width: 10%;
			}
		}

		&:not(.mobile):not(.tablet) .content-nav a::after {
			background: $link-color;
			background: $text-color;
		}

	  background: $background-color;
	  color: $text-color;

	  .work-item {
		  .work-item-background {
		  	background: $text-color;
		  }
		  .work-item-content {
		  	background: $background-color;
		  	// background: rgba($background-color, 0.8);
		  	border-color: $text-color;
		  	&:hover {
		  		background: $background-color;
		  		// background: rgba($background-color, 0.8);
		  	}
		  }
	  }

	  a {
	  	color: $text-color;
	  	&:hover:not([data-active="true"]) {
	  		color: rgba($text-color, 0.8);
	  	}
	  	&::after {
	  		background: $text-color;
	  	}
	  }
	}

	&[data-theme="red"] {

		&:not(.mobile):not(.tablet) .content-nav a[data-active="true"] {
			&::after {
				// width: 10%;
			}
		}

		&:not(.mobile):not(.tablet) .content-nav a::after {
			background: $link-color;
			background: $light;
		}

	  background: $red;
	  color: $light;

	  .work-item {
		  .work-item-background {
		  	background: $light;
		  }
		  .work-item-content {
		  	background: $red;
		  	// background: rgba($red, 0.8);
		  	border-color: $light;
		  	&:hover {
		  		background: $red;
		  		// background: rgba($red, 0.8);
		  	}
		  }
	  }

	  a {
	  	color: $light;
	  	&:hover:not([data-active="true"]) {
	  		color: rgba($light, 0.8);
	  	}
	  	&::after {
	  		background: $light;
	  	}
	  }

	  .cube-container .cube .square {
	    border-color: $light;
	    // @media (max-width: 900px) {
	    // 	border-color: rgba($light, 0.1);
	    // }
	  }
	}

	&[data-theme="blue"] {

		&:not(.mobile):not(.tablet) .content-nav a[data-active="true"] {
			&::after {
				// width: 10%;
			}
		}

		&:not(.mobile):not(.tablet) .content-nav a::after {
			background: $link-color;
			background: $light;
		}

	  background: $blue;
	  color: $light;

	  .work-item {
		  .work-item-background {
		  	background: $light;
		  }
		  .work-item-content {
		  	background: $blue;
		  	// background: rgba($blue, 0.8);
		  	border-color: $light;
		  	&:hover {
		  		background: $blue;
		  		// background: rgba($blue, 0.8);
		  	}
		  }
	  }

	  a {
	  	color: $light;
	  	&:hover:not([data-active="true"]) {
	  		color: rgba($light, 0.8);
	  	}
	  	&::after {
	  		background: $light;
	  	}
	  }

	  .cube-container .cube .square {
	    border-color: $light;
	    // @media (max-width: 900px) {
	    // 	border-color: rgba($light, 0.1);
	    // }
	  }
	}

	&[data-theme="yellow"] {

		&:not(.mobile):not(.tablet) .content-nav a[data-active="true"] {
			&::after {
				// width: 10%;
			}
		}

		&:not(.mobile):not(.tablet) .content-nav a::after {
			background: $link-color;
			background: $dark;
		}

	  background: $yellow;
	  color: $dark;

	  .work-item {
		  .work-item-background {
		  	background: $dark;
		  }
		  .work-item-content {
		  	background: $yellow;
		  	// background: rgba($yellow, 0.8);
		  	border-color: $dark;
		  	&:hover {
		  		background: $yellow;
		  		// background: rgba($yellow, 0.8);
		  	}
		  }
	  }

	  a {
	  	color: $dark;
	  	&:hover:not([data-active="true"]) {
	  		color: rgba($dark, 0.8);
	  	}
	  	&::after {
	  		background: $dark;
	  	}
	  }

	  .cube-container .cube .square {
	    border-color: $dark;
	    // @media (max-width: 900px) {
	    // 	border-color: rgba($dark, 0.1);
	    // }
	  }
	}

	&[data-theme="pink"] {

		.content-nav a[data-active] {
			font-weight: 700;
		}

		&:not(.mobile):not(.tablet) .content-nav a::after {
			background: $link-color;
			background: $light;
		}

	  background: $pink;
	  color: $light;

	  .work-item {
		  .work-item-background {
		  	background: $light;
		  }
		  .work-item-content {
		  	background: $pink;
		  	// background: rgba($pink, 0.8);
		  	border-color: $light;
		  	&:hover {
		  		background: $pink;
		  		// background: rgba($pink, 0.8);
		  	}
		  }
	  }

	  a {
	  	color: $light;
	  	&:hover:not([data-active="true"]) {
	  		color: rgba($light, 0.8);
	  	}
	  	&::after {
	  		background: $light;
	  	}
	  }

	  .cube-container .cube .square {
	    border-color: $light;
	    // @media (max-width: 900px) {
	    // 	border-color: rgba($light, 0.1);
	    // }
	  }
	}

	&[data-theme="orange"] {

	  background: $orange;
	  color: $dark;

	  .work-item {
		  .work-item-background {
		  	background: $dark;
		  }
		  .work-item-content {
		  	background: $orange;
		  	// background: rgba($orange, 0.8);
		  	border-color: $dark;
		  	&:hover {
		  		background: $orange;
		  		// background: rgba($orange, 0.8);
		  	}
		  }
	  }

	  a {
	  	color: $dark;
	  	&:hover:not([data-active="true"]) {
	  		color: rgba($dark, 0.8);
	  	}
	  	&::after {
	  		background: $dark;
	  	}
	  }

	  .cube-container .cube .square {
	    border-color: $dark;
	    // @media (max-width: 900px) {
	    // 	border-color: rgba($dark, 0.1);
	    // }
	  }
	}

	&[data-theme="dark"] {

		&:not(.mobile):not(.tablet) .content-nav a[data-active="true"] {
			&::after {
				// width: 10%;
			}
		}

		&:not(.mobile):not(.tablet) .content-nav a::after {
			background: $link-color;
			background: $text-color-inverted;
		}

	  background: $background-color-inverted;
	  color: $text-color-inverted;

	  .work-item {
		  .work-item-background {
		  	background: $text-color-inverted;
		  }
		  .work-item-content {
		  	background: $background-color-inverted;
		  	// background: rgba($background-color-inverted, 0.8);
		  	border-color: $text-color-inverted;
		  	&:hover {
		  		background: $background-color-inverted;
		  		// background: rgba($background-color-inverted, 0.8);
		  	}
		  }
	  }

	  a {
	  	color: $text-color-inverted;
	  	&:hover:not([data-active="true"]) {
	  		color: rgba($text-color-inverted, 0.8);
	  	}
	  	&::after {
	  		background: $text-color-inverted;
	  	}
	  }

	  .cube-container .cube .square {
	    border-color: $light;
	    // @media (max-width: 900px) {
	    // 	border-color: rgba($light, 0.1);
	    // }
	  }
	}
}