[data-theme="red"] {
	--background-color: var(--red);
	--text-color: var(--light);
	--link-color: var(--text-color);
	--cube-edge-color: var(--text-color);
	--cube-square-border-sm: 1px solid var(--cube-edge-color);
}

[data-theme="blue"] {
	--background-color: var(--blue);
	--text-color: var(--light);
	--link-color: var(--text-color);
	--cube-edge-color: var(--text-color);
	--cube-square-border-sm: 1px solid var(--cube-edge-color);
}

[data-theme="orange"] {
	--background-color: var(--orange);
	--text-color: var(--light);
	--link-color: var(--text-color);
	--cube-edge-color: var(--text-color);
	--cube-square-border-sm: 1px solid var(--cube-edge-color);
}

[data-theme="dark"] {
	--background-color: var(--dark);
	--text-color: var(--light);
	--link-color: var(--text-color);
	--cube-edge-color: var(--text-color);
	--cube-square-border-sm: 1px solid var(--cube-edge-color);
}

[data-theme="light"] {
	--background-color: var(--light);
	--text-color: var(--dark);
	--link-color: var(--text-color);
	--cube-edge-color: var(--text-color);
	--cube-square-border-sm: 1px solid var(--cube-edge-color);
}

[data-theme="yellow"] {
	--background-color: var(--yellow);
	--text-color: var(--dark);
	--link-color: var(--text-color);
	--cube-edge-color: var(--text-color);
	--cube-square-border-sm: 1px solid var(--cube-edge-color);
}
