:root {
	// blacks, whites, grays
	--light: #fefefe;
	--medium: #999;
	--dark: #151515;

	// colors
	--blue: rgb(7, 71, 166);
	--lightblue: #74b3ce;
	--yellow: #f7d708;
	--tan: #ffdbb5;
	--ice: #f1faee;
	--red: #b80c09;
	--orange: #fe9000;
	--orange-vibrant: #ff6700;
	--pink: #ff8484;
	--lime: #00ff4f;

	// breakpoints
	--breakpoint-xs: 400px;
	--breakpoint-sm: 600px;
	--breakpoint-md: 800px;
	--breakpoint-lg: 1000px;
	--breakpoint-xl: 1200px;

	// element colors
	--text-color: var(--light);
	--background-color: var(--dark);
	--link-color: var(--text-color);
	--link-color-hover: darken(var(--link-color), 50%);

	--text-color-inverted: var(--dark);
	--background-color-inverted: var(--light);
	--link-color-inverted: var(--light);

	--highlight-color: rgba(gray, 0.5);

	// transition durations
	--fast: 50ms;
	--quite-fast: 100ms;
	--pretty-fast: 250ms;
	--normal: 350ms;
	--slow: 750ms;
	--very-slow: 1250ms;
	--speed-default: var(--quite-fast);

	// easings
	--bezier-1: cubic-bezier(0.79, 0.08, 0.41, 0.1);
	--glide: cubic-bezier(0.14, 0.23, 0.13, 0.32);
	--easing-default: ease;

	--transition-default: var(--speed-default) var(--easing-default);
	--transition-slow: var(--slow) var(--easing-default);
	--transition-normal: var(--normal) var(--easing-default);
	--transition-fast: var(--fast) var(--easing-default);

	--duration: var(--speed-default);
	--ease: var(--easing-default);

	// fonts
	--sans: "neue-haas-unica", Helvetica, Arial, system-ui, sans-serif;
	--serif: "adobe-garamond-pro", Gotham, serif;

	--gutter: 2rem;

	--z-top: 10;
	--z-middle: 5;
	--z-bottom: 0;
	--z-under: -1;

	--cube-colors: red, orange, yellow, green, blue, white;

	--cube-size-lg: 400px;

	--cube-edge-color: var(--text-color);

	--cube-size: 36px;
	--cube-square-border-radius: 3px;
	--cube-square-border: 1px solid var(--cube-edge-color);
	--cube-square-box-shadow: inset 0 0 1px 1px rgba(var(--dark), 0.25);

	--cube-square-border-radius-sm: 2px;
	--cube-square-border-sm: 1px solid var(--cube-edge-color);
	--cube-square-box-shadow-sm: inset 0 0 0px 0px rgba(var(--dark), 1);

	--cube-square-border-radius-lg: 2px;
	--cube-square-border-lg: 2px solid var(--cube-edge-color);
	--cube-square-box-shadow-lg: inset 0 0 0px 0px rgba(var(--dark), 1);

	// --cube-square-border-radius-sm-inverted: 2px;
	--cube-square-border-sm-inverted: 1px solid var(--light);

	// --cube-square-box-shadow-sm-inverted: inset 0 0 0px 0px rgba(var(--light), 1);

	// --cube-square-border-radius-sm-inverted: 2px;
	--cube-square-border-sm-inverted: 2px solid var(--light);

	// --cube-square-box-shadow-sm-inverted: inset 0 0 0px 0px rgba(var(--light), 1);

	--s-min: 20;
	--s-max: 70;
	--l-min: 30;
	--l-max: 90;

	--back-skew: translate(0) rotateX(0deg) rotateY(0deg);
	--right-skew: translate(0) rotateX(50deg) rotateY(50deg);
	--left-skew: translate(0) rotateX(20deg) rotateY(10deg);
	--top-skew: translate(0) rotateX(-45deg) rotateY(25deg);
	--bottom-skew: translate(0) rotateX(90deg) rotateY(100deg);
	--front-skew: translateZ(0);
}

[data-theme="light"] {
	--text-color: var(--dark);
	--link-color: var(--text-color);
	--background-color: var(--light);
	--cube-edge-color: var(--text-color);
}
