// white, gray, black
$light: #fefefe;
$medium: #999;
$dark: #151515;

// colors
$blue-kitandace: #002573;
$blue-donetodeath: #130DB1;
$blue-atlassian: #0747a6;
$perfect-blue: rgb(7, 71, 166);
$emoji-guy-blue: #2726cf;
$blue: $emoji-guy-blue;
$lightblue: #74B3CE;
$yellow: #f7d708;
$tan: #FFDBB5;
$ice: #F1FAEE;
$red: #B80C09;
$orange: #FE9000;
$orange-vibrant: #FF6700;
$pink: #FF8484;
$lime: #00FF4F;

$papayawhip: papayawhip;
$linen: linen;
$oldlace: oldlace;

// breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 800px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;

// element colors
$primary: $dark;
$text-color: $dark;
$text-color-inverted: $light;
$background-color: $light;
$background-color-inverted: #111;
$link-color: $primary;
$link-color-hover: $primary;
$highlight-color: rgba(lightgray, 0.5);

// transition durations
$fast: 50ms;
$pretty-fast: 250ms;
$normal: 350ms;
$slow: 750ms;
$very-slow: 1250ms;
$speed-default: $pretty-fast;

// easings
$bezier-1: cubic-bezier(0.79, 0.08, 0.41, 0.1) !default;
$glide: cubic-bezier(0.14, 0.23, 0.13, 0.32) !default;
$easing-default: ease;

$transition-default: $speed-default $easing-default;
$transition-fast: $fast $easing-default;

$duration: $speed-default;
$ease: $easing-default;

// fonts
$sans: "neue-haas-unica", Helvetica, Arial, system-ui, sans-serif;
$serif: "adobe-garamond-pro", Gotham, serif;

$gutter: 2rem;

$z-top: 10;
$z-middle: 5;
$z-bottom: 0;
$z-under: -1;