@import "./variables";
@import "./helpers";
@import "./resets";
@import "./themes";

@import "./cube";

::-moz-selection {
	background: rgba(gray, 0.5);
}

::selection {
	background: rgba(gray, 0.5);
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 16px;
	font-family: system-ui, sans-serif;
	font-family: var(--sans);
	
	// text-shadow: 0.25px 0.25px 1px rgba(var(--dark), 0.15);
}

body {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100vh;

	color: var(--text-color);
	background: var(--background-color);

	@include transition(
		background var(--transition-normal),
		color var(--transition-normal)
	);
}

.layout {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	@media (max-width: 1200px) {
		flex-direction: column;
	}
}

#header {
	position: sticky;
	top: 0px;

  padding: var(--gutter);
  width: 40%;
  width: max-content;
  min-width: max-content;
  
  @media (max-width: 1200px) {
    position: relative;
    width: 100%;
    min-width: auto;
  }

	h1 {
		font-size: 6rem;
		margin-bottom: 0.25em;

		@media (max-width: 600px) {
			font-size: 10vw;
		}
	}

	p {
		font-size: 1.5rem;
		max-width: 600px;
	}
}

#main {
  flex: 1;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

// .container {
// 	display: block;
// 	width: 100%;
// 	margin: 2rem auto;
// 	padding: 0 var(--gutter);
// 	position: relative;
// }

a {
	color: var(--link-color);

	@include transition(
		color var(--transition-normal),
		opacity var(--transition-fast)
	);

	&:hover {
		color: var(--link-color-hover);
	}

	&:hover:not([data-active="true"]) {
		// color: rgba(var(--link-color), 0.8);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 0.5em 0;

	&:first-child {
		margin-top: 0;
	}
}

p {
	margin: 1em 0;

	&:first-child {
		margin-top: 0;
	}
}

.intro-section {
	.intro-heading {
		font-size: 3rem;

		@media (max-width: 600px) {
			font-size: 10vw;
		}
	}

	.intro-copy {
		font-size: 1.25rem;
		max-width: 600px;
	}
}

.nav {
	padding: 0;
	margin: 0;
	display: flex;

	a {
		padding: 0.25rem;
		text-decoration: none;
		@include animated-underline;

		&:first-child {
			margin-left: -0.25rem;
		}
	}
}

.flex {
	display: flex;

	> * {
		margin: 0 1rem;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.about-content {
	&.grid[class] {
		grid-gap: 2rem;

		@media (max-width: 900px) {
			grid-gap: 0rem;
			grid-template-columns: 1fr;

			> div {
				max-width: 600px;
			}
		}
	}

	.flex {
		ul {
			margin-bottom: 0;
		}
	}
}

.grid {
	display: grid;
	grid-gap: 1rem;

	@media (min-width: 600px) {
		&.auto {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}

		&.two {
			grid-template-columns: repeat(2, 1fr);
		}

		&.three {
			grid-template-columns: repeat(3, 1fr);
		}

		&.four {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.content-container {
	padding: 1rem;
}

.work-content {
	.work-item {
		cursor: pointer;
		position: relative;

		&:hover {
			.work-item-content {
				transform: translate(0.5rem, -0.5rem);
			}
		}
	}

	.work-item-background {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background: var(--light);
		z-index: -1;

		@include transition(background var(--transition-normal));
	}

	.work-item-content {
		z-index: 10;
		width: 100%;
		height: 100%;
		background: var(--dark);
		border: 1px solid var(--light);
		transform: translate(0.1rem, -0.1rem);

		@include transition(
			transform var(--transition-default),
			background var(--transition-normal)
		);

		.content-container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.description {
			font-size: 1rem;
			font-weight: 400;
		}
	}
}

.copy-width {
	max-width: 600px;
}

.nav-icon {
	width: 1rem;
	height: 1rem;
	padding-top: 0.25rem;
}

.anim {
	opacity: 0;

	&.ease-in {
		// transform: translateY(3rem);
	}
}

.timeline-content, .projects-content {
	// display: flex;
	// flex-direction: column;
	// align-items: center;

	.timeline-item {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	.timeline-date {
		flex-shrink: 0;
		margin-right: 2rem;
	}

	.timeline-desc {
		flex-grow: 1;
		max-width: 800px;

		// h4, p { display: inline; }

		// h4 {
		// 	margin-right: 0.25em;
		// }
	}
}



.timeline {
	// margin: 0 auto;
	// width: 100%;
	// display: flex;
	// flex-direction: column;

	&.centered {
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;
	}
}

.timeline-item {
	display: flex;
	.timeline-key {
		flex-shrink: 0;
		margin-right: 2rem;
	}
	.timeline-value {
		max-width: 800px;
	}
}